.logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  height: 50px;
  cursor: pointer;
  overflow: hidden;

  img[alt="logo"] {
    height: 32px;
    object-fit: contain;
    margin: 0 16px;
  }
}
