.footer {
  text-align: center;
  line-height: 30px;
  color: #b0aeae;
  font-size: 14px;

  :global(a) {
    color: #b0aeae;
    &:hover {
      color: #F47E2A;
    }
  }
}

.gutter {
  margin: 0 10px;
}
