.footer {
  padding: 24px 50px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  background: #f5f5f5;

  a {
    color: #b0aeae;
    &:hover {
      color: #F47E2A;
    }
  }
}

.gutter {
  margin: 0 10px;
  color: #b0aeae;
}
